apiVersion: apps/v1
kind: Deployment
metadata:
  name: domain-locker-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: domain-locker-app
  template:
    metadata:
      labels:
        app: domain-locker-app
    spec:
      containers:
        - name: app
          image: {{ .Values.app.image }}
          command: ["./start.sh"]
          
          ports:
            - containerPort: {{ .Values.app.port }}
          env:
            {{- range $key, $value := .Values.app.env }}
            - name: {{ $key }}
              {{- if hasKey $.Values.app.secretEnv $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ (index $.Values.app.secretEnv $key).name }}
                  key: {{ (index $.Values.app.secretEnv $key).key }}
              {{- else }}
              value: {{ $value | quote }}
              {{- end }}
            {{- end }}
