{{- if .Values.postgres.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: domain-locker-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: domain-locker-postgres
  template:
    metadata:
      labels:
        app: domain-locker-postgres
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgres.image }}
          env:
            - name: POSTGRES_DB
              value: {{ .Values.postgres.env.POSTGRES_DB | quote }}
            - name: POSTGRES_USER
              value: {{ .Values.postgres.env.POSTGRES_USER | quote }}
            - name: POSTGRES_PASSWORD
              {{- if .Values.postgres.passwordFromSecret }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgres.passwordFromSecret.name }}
                  key: {{ .Values.postgres.passwordFromSecret.key }}
              {{- else if hasKey $.Values.app.secretEnv "DL_PG_PASSWORD" }}
              valueFrom:
                secretKeyRef:
                  name: {{ (index $.Values.app.secretEnv "DL_PG_PASSWORD").name }}
                  key: {{ (index $.Values.app.secretEnv "DL_PG_PASSWORD").key }}
              {{- else }}
              value: {{ .Values.postgres.env.POSTGRES_PASSWORD | quote }}
              {{- end }}
            - name: TZ
              value: {{ .Values.postgres.env.TZ | quote }}
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          ports:
            - containerPort: {{ .Values.postgres.port }}
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-storage
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: domain-locker-postgres-pvc
{{- end }}
