
<h1 class="text-4xl">Error Logs</h1>
<div class="p-card px-3 py-3 flex flex-col gap-2">
  <h2 class="text-xl m-0">Contents</h2>
  <ul class="m-0 p-0 list-none">
    <li *ngFor="let errorType of errorTypes">
      <a class="font-semibold no-underline hover:underline" href="#">{{ errorType.name }}</a>
      - <span class="italic text-gray-500">{{ errorType.description }}</span>
    </li>
  </ul>
</div>
<p-divider class="my-2" />

<h2 class="text-2xl">Client-Side Errors</h2>
<div class="p-card px-3 py-3 flex flex-col gap-2">
  <div *ngFor="let error of errorLog; last as isLast" class="flex flex-col w-full">
    <div class="flex justify-between items-center w-full">
      <h3 class="m-0 text-lg">{{ error.message }}</h3>
      <p class="m-0 text-sm text-gray-500 font-mono">{{ error.date | date: 'short' }}</p>
    </div>
    <p *ngIf="error.location" class="m-0 text-sm text-gray-500 font-mono">Occurred in {{error.location}}</p>
    <div>
      <pre *ngIf="error.error"
      class="p-2 rounded-md text-sm overflow-x-auto bg-surface-0 text-red-400 text-sm">{{ error.error | json }}</pre>
    </div>
    <p-divider *ngIf="!isLast" />
  </div>
</div>
